body{
    font-family: sans-serif;
}
section{
    height: 500px;
    padding: 50px;
    
}

.hedar{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.hedar img{
    width: 100%;
}
.pink-color{
    color: rgb(231, 46, 132);
}
.Hare-button{
    text-decoration: none;
    background-image: linear-gradient(pink,tomato);
    padding: 5px;
    border-radius: 5px;
    color: black;

}
.sub-header{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;

}
.sub-header{
    background-image: url(pic/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
}
.sub-header img{
    width: 100%;
}
.dowenlod-button{
    text-decoration: none;
    background-image: linear-gradient(pink,tomato);
    padding: 5px;
    border-radius: 5px;
    color: black;
}


.ltw{
    width: 30%;
    float: left;
    padding-left: 2px;
}
.ltw img{
    width: 100%;
    padding: 5%;
    margin: 2%;

}
.lt{
    text-align: center;
    font-size: 30px;
}
.text-section{
    text-align: center;
}
#pragrap{
    font-size: 8px;
}
.contact{
    background-color: rgb(239, 101, 138);
    padding: 20px;
    cursor: pointer;
    border-radius: 12px;
}
#cliant-review{
    font-size: 15px;
}
#pragrap-2{
    font-size: 12px;
}
.contact-button{
    text-decoration: none;
    color: black;
    font-size: 30px;

}

footer{
    text-align: center;
    font-size: 12px;

}